html{
    background-image: url("totbg.jpg");
    background-position: center;
    background-repeat: no-repeat;
    cursor:url("pumpkin.png");
    background-attachment: fixed;
}


/*nav style */
 .navbar-brand {
    color:#ffffff
    ;
    font-family: "Creepster", system-ui;
    background-color: transparent;
  }
  .navbar-brand:visited{
    color:#ffffff !important;
    font-family: "Creepster", system-ui;
    background-color: transparent;
  }
  .navbar-brand:hover{
    color: #ffffff;
    font-family: "Creepster", system-ui;
    background-color: transparent;
    text-shadow:1px 1px 10px #fff, 1px 1px 10px #ccc;
  }
  .navbar-brand:active{
    color: #ffffff;
    font-family: "Creepster", system-ui;
    background-color: transparent;
    text-shadow:1px 1px 10px #fff, 1px 1px 10px #ccc;
  }
  
  
  .nav-link{
    color: #000000;
    font-family: "Creepster", system-ui;
    background-image: url("darkpumpkin.png");
    background-repeat: no-repeat;
    background-position: center,center;
    background-size: 40px;
    border-radius: 100%;
  
  }
  .nav-link:visited{
    color: black;
    font-family: "Creepster", system-ui;
    background-image: url("darkpumpkin.png");
    background-repeat: no-repeat;
    background-position: center,center;
    background-size: 40px;
    border-radius: 100%;
  }
  .nav-link:hover{
    color: #f9f7ac;
    font-family: "Creepster", system-ui;
    background-color: transparent;
    text-shadow:1px 1px 10px #fff, 1px 1px 10px #ccc;
    background-image: url("lightpumpkin.png");
    background-repeat: no-repeat;
    background-position: center,center;
    background-size:40px;
    border-radius: %;
    
  }
  
  .nav-link:active{
    color: #000000;
    font-family: "Creepster", system-ui;
  }
  
  .navbar-toggler-icon{
    color: #000000 ;
    font-family: "Creepster", system-ui;
  }
  
  .navbar-nav .nav-link.active, .navbar-nav .nav-link.show {
    color: rgb(0, 0, 0);
  }

  .navbar{
    background-color: transparent;
    cursor:url("pumpkin.png");
    background-color: rgb(116, 26, 233);

  }
    /*nav style end*/

    .bg-hero-image{
      background-image: url("halloherobg.jpg");
      background-position: center center;
      background-size: cover;
      background-repeat: no-repeat;
      font-family: "Creepster", system-ui;
      margin-top: 50px;
      border-radius: 5px;
      box-shadow: rgb(116, 26, 233) 0px 3px 6px, rgb(116, 26, 233) 0px 3px 6px;
      color:rgb(116, 26, 233);
  }
  body{
    background-image:url("imgs/window.gif") ; 
    /* gif from https://tenor.com/view/neon-neon-city-city-rain-lights-city-gif-27006540*/
    background-repeat: no-repeat;
    color: white;
    background-size: cover;
    background-color: transparent;
  }
  
  .spiders{
    margin-top: 20px;
    margin-bottom: 200px;
   
  }
 
  .MI{
    text-decoration: underline;
    font-family: "Creepster", system-ui;
  }
  .MI:Hover{
    color: rgb(116, 26, 233);
    font-family: "Creepster", system-ui;
  }
  
  .creepster-regular {
    font-family: "Creepster", system-ui;
    font-weight: 400;
    font-style: normal;
  }
  .TE{
    font-family: "Creepster", system-ui;
    text-align: center;
    color: #ff0000;
  }
  .m-3{
    background-color: #ff8800;
    margin-top: 10px;
    border-radius: 5px;
    box-shadow: rgb(116, 26, 233) 0px 3px 6px, rgb(116, 26, 233) 0px 3px 6px;
  }
  .TS{
    background-image:url("toystory.jpg");
    background-position: center;
    background-size: contain;
    box-shadow: rgb(116, 26, 233) 0px 3px 6px, rgb(116, 26, 233) 0px 3px 6px;
    text-align: center;
    color: #ff0000;
    font-family: "Creepster", system-ui;
    background-color: rgb(116, 26, 233);
    background-repeat: no-repeat;
    height: 500px;

  }
  .CL{
    background-image:url("candy.jpg");
    background-position: center;
    background-size: contain;
    box-shadow: rgb(116, 26, 233) 0px 3px 6px, rgb(116, 26, 233) 0px 3px 6px;
    text-align: center;
    color: #ff0000;
    font-family: "Creepster", system-ui;
    background-color: rgb(116, 26, 233);
    background-repeat: no-repeat;
    height: 500px;

  }
  .JP{
    background-image:url("dino.jpg");
    background-position: center;
    background-size: contain;
    box-shadow: rgb(116, 26, 233) 0px 3px 6px, rgb(116, 26, 233) 0px 3px 6px;
    text-align: center;
    color: #ff0000;
    font-family: "Creepster", system-ui;
    background-color: rgb(116, 26, 233);
    background-repeat: no-repeat;
    height: 500px;

  }
  .Oz{
    background-image:url("oz.jpg");
    background-position: center;
    background-size: contain;
    box-shadow: rgb(116, 26, 233) 0px 3px 6px, rgb(116, 26, 233) 0px 3px 6px;
    text-align: center;
    color: #ff0000;
    font-family: "Creepster", system-ui;
    background-color: rgb(116, 26, 233);
    background-repeat: no-repeat;
    height: 500px;

  }
  .Santa{
    background-image:url("santa.jpg");
    background-position: center;
    background-size: contain;
    box-shadow: rgb(116, 26, 233) 0px 3px 6px, rgb(116, 26, 233) 0px 3px 6px;
    text-align: center;
    color: #ff0000;
    font-family: "Creepster", system-ui;
    background-color: rgb(116, 26, 233);
    background-repeat: no-repeat;
    height: 500px;

  }
  .Science{
    background-image:url("science.jpg");
    background-position: center;
    background-size: contain;
    box-shadow: rgb(116, 26, 233) 0px 3px 6px, rgb(116, 26, 233) 0px 3px 6px;
    text-align: center;
    color: #ff0000;
    font-family: "Creepster", system-ui;
    background-color: rgb(116, 26, 233);
    background-repeat: no-repeat;
    height: 500px;

  }